/*Basic format for all pages*/
body{
    background-color: rgb(206, 199, 199);
}
header{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    background-color: rgb(151, 38, 38);
    font-family: Roboto;
    color: rgba(255, 255, 255, 0.788);
}
.copyright{
    color: #22212194;
    text-align: center;
}
.navList{
    font-family: Roboto;
    font-size: 150%;
    list-style: none;
    text-align: center;
}
.navList li{
    display: inline;
}
    
.navButton{
    border:none;
    color: rgb(59, 58, 58);
    background-color: lightgray;
    padding: 10px 32px;
    text-align:center;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

.navButton:hover{
    background-color: rgb(59,58,58);
    color:lightgray;
}

/*Homepage Styling*/
.hompage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.homePageContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.homePageHeader{
    font-family: Roboto;
    text-align: center;
}
.homeListObjects{
    margin-top: 10px;
    margin-bottom: 10px;
}
#imageOne{
    height: 300px;
    width: 400px;
    border: solid;
    border-width: 5px;
}
#imageTwo{
    height: 300px;
    width: 400px;
    border: solid;
    border-width: 5px;
}
/*About Styling*/
.about{
    font-family: Roboto;
}
.aboutpage{
    display:flex;
    flex-direction: column;
}
.aboutPics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.question{
    margin-top: -15px;
    padding-left: 10px;
    font-style: italic;
}
.answer{
    margin-top: -15px;
    padding-left:10px;
    padding-bottom: 15px;
}
#imageThree{
    height: 300px;
    width: 400px;
    border: solid;
}
#imageFour{
    height: 300px;
    width: 400px;
    border:solid;
}
.review{
    font-family: Roboto;
}

/*Report Styling*/
.report{
    font-family: Roboto;
    text-align: center;
}

.formBody{
    font-family:Roboto;
    display: inline-block;
    text-align: left;
}
#input{
    display: flex;
    justify-content: center;
}
/*Laundry Styling*/
.dorms{
    font-family: Roboto;
    text-align: center;
}

.dormList{
    list-style: none;
}

.laundryHead{
    font-family: Roboto;
    text-align: center;
}
.laundry{
    text-align: center;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ldButtonCP{
    border: 2px solid green;
    background-color: lightgray;
    color: green;
    padding: 15px 32px;
    display: inline-block;
    text-align:center;
    width: 10em;
    border-radius: 12px;
    margin: 2px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.ldButtonCP:hover{
    background-color: green;
    color: white;
}
.ldButtonD{
    border: 2px solid rgb(8, 8, 94);
    background-color: lightgray;
    color:rgb(8, 8, 94);
    padding: 15px 32px;
    display: inline-block;
    text-align:center;
    width: 10em;
    border-radius: 12px;
    margin: 2px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.ldButtonD:hover{
    background-color: rgb(8,8,94);
    color:white;
}
.ldButtonH{
    border: 2px solid rgb(116, 11, 11);
    background-color: lightgray;
    color: rgb(116, 11, 11);
    padding: 15px 32px;
    display: inline-block;
    text-align:center;
    width: 10em;
    border-radius: 12px;
    margin: 2px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.ldButtonH:hover{
    background-color: rgb(116, 11, 11);
    color:white;
}
.ldButtonJ{
    border: 2px solid rgb(87, 8, 87);
    background-color: lightgray;
    color: rgb(87, 8, 87);
    padding: 15px 32px;
    display: inline-block;
    text-align:center;
    width: 10em;
    border-radius: 12px;
    margin: 2px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.ldButtonJ:hover{
    background-color:rgb(87, 8, 87);
    color:white;
}
.ldButtonRT{
    border: 2px solid rgb(199, 136, 9);
    color: rgb(95, 64, 6);
    background-color: lightgray;
    padding: 15px 32px;
    display: inline-block;
    text-align:center;
    width: 10em;
    border-radius: 12px;
    margin: 2px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.ldButtonRT:hover{
    background-color:rgb(199, 136, 9);
    color:white;
}

.ldButtonP{
    border: 2px solid rgb(10, 189, 180);
    color: rgb(28, 144, 148);
    background-color: lightgray;
    padding: 15px 32px;
    display: inline-block;
    text-align:center;
    width: 10em;
    border-radius: 12px;
    margin: 2px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.ldButtonP:hover{
    background-color:rgb(10, 189, 180);
    color:white;
}

/*Laundry Page Styling*/
.machine{
    width:50%;
    height:50%;
}

.laundry figure{
    margin:auto;
    text-align:center;
    width:230px;
}

@media (max-width:998px) and (min-width:400px){
/*Basic Styling*/
.navList li{
    display: list-item;
    padding: 10px;
}

/*Homepage*/
   .homePageContent{
        justify-content: space-around;
        flex-direction: row;
   }
   #imageOne{
        width: 40%;
        height: 30%;
   }
   #imageTwo{
        width: 40%;
        height: 30%;
   }
/*About*/
   #imageThree{
        width: 120%;
        height: 80%;
   }
   #imageFour{
        width: 60%;
        height: 80%;
   }
   .beforePic h3{
        font-size: 80%;
    }
    .afterPic h3{
        font-size: 80%;
    }
}
@media (max-width:399px){
/*Basic Styling*/
    .navList{
        padding: 0px;
    }
    .navList li{
        display: list-item;
        text-align: left;
        padding: 10px;
    }
    header{
        text-align: left;
        padding-left: 10px;
    }

/*Homepage*/
    .homePageContent{
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    #imageOne{
        width: 80%;
        height: 40%;
    }
    #imageTwo{
        width: 80%;
        height: 40%;
    }

/*About*/
    #imageThree{
        width: 80%;
    }
    #imageFour{
        width: 80%;
    }
    .aboutPics{
        flex-direction: column;
    }

/*Laundry*/
    .dorms{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .room{
        display: flex;
        flex-direction: row;
    }
    .room hr{
        display: none;
    }
    .washingMachines{
        flex-direction: column;
        width: 50%;
    }
    .time{
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        width: 50%;
    }
}